@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');

.container-xl {
    width:1280px !important;
  }
  
  @media (max-width: 1279px) {
    .container-xl {
      width: 100% !important;
    }
  }

  *, body {
    font-family: "Signika", sans-serif;
    /* font-optical-sizing: auto; */
    font-weight: 400;
    /* font-style: normal;
    font-variation-settings:"GRAD" 0; */
  }
  
  .signika-font {
    font-family: "Signika", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "GRAD" 0;
  }

  .bg-sblue {
    /* background:#25B2C0 !important; */
    background:#D3F0F2 !important;
  }

  .text-sblue {
    color: #D3F0F2;
  }