@tailwind base;
@tailwind components;
@tailwind utilities;


.container-xl {
    width:1280px !important;
  }
  
  @media (max-width: 1279px) {
    .container-xl {
      width: 100% !important;
    }
  }
  

  .bg-sblue {
    /* background:#25B2C0 !important; */
    background:#D3F0F2 !important;
  }

  .text-sblue {
    color: #D3F0F2;
  }